# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @martonsereg @waynz0r @Laci21 @tothandras @turip @gallotamas @nishantantapatil3 @shanchunyang0919 @tkircsi

