# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @martonsereg @waynz0r @Laci21 @gallotamas @nishantapatil3 @shanchunyang0919 @tkircsi @sagikazarmark

