version: 2.1

orbs:
  helm: banzaicloud/helm@0.0.8
  docker: banzaicloud/docker@0.0.5
  aws: circleci/aws-cli@0.1.13

executors:
  helm311:
    docker:
      - image: ghcr.io/banzaicloud/helm:0.0.7

jobs:
  build:
    parameters:
      working_directory:
        default: "."
        description: "Root dir relative to the repository where the build is to be executed"
        type: string
      has_integration_tests:
        default: true
        description: "Set to false if the component does not provide the test-integration target"
        type: boolean
    resource_class: large
    docker:
      - image: circleci/golang:1.17
        environment:
          GOFLAGS: -mod=readonly
          GOPRIVATE: github.com/banzaicloud

    steps:
      - checkout

      - restore_cache:
          name: Restore build dependencies
          keys:
            - build-deps-v1-{{ .Branch }}-{{ checksum "Makefile" }}

      - restore_cache:
          name: Restore Go module cache
          keys:
            - gomod-v2-{{ .Branch }}-{{ checksum "<< parameters.working_directory >>/go.sum" }}

      - run:
          working_directory: << parameters.working_directory >>
          name: Download Go module cache
          command: go mod download

      - restore_cache:
          name: Restore license cache
          keys:
            - licensei-v4-<< parameters.working_directory >>-{{ .Branch }}-{{ checksum "<< parameters.working_directory >>/go.sum" }}
            - licensei-v4-<< parameters.working_directory >>

      - run:
          name: Download license information for dependencies
          command: make license-cache
          working_directory: << parameters.working_directory >>

      - save_cache:
          name: Save license cache
          key: licensei-v4-<< parameters.working_directory >>-{{ .Branch }}-{{ checksum "<< parameters.working_directory >>/go.sum" }}
          paths:
            - << parameters.working_directory >>/.licensei.cache

      - run:
          name: Check dependency licenses
          command: make license-check
          working_directory: << parameters.working_directory >>

      - save_cache:
          name: Save Go module cache
          key: gomod-v2-{{ .Branch }}-{{ checksum "<< parameters.working_directory >>/go.sum" }}
          paths:
            - /go/pkg/mod

      - run:
          name: Run build
          command: make build build-refresher
          working_directory: << parameters.working_directory >>

      - run:
          name: Run tests
          command: TEST_PKGS=$(echo `go list ./... | circleci tests split`) TEST_REPORT_NAME=results_${CIRCLE_NODE_INDEX}.xml make test
          working_directory: << parameters.working_directory >>

      - when:
          condition: << parameters.has_integration_tests >>
          steps:
            - run:
                name: Run integration tests
                command: TEST_PKGS=$(echo `go list ./... | circleci tests split`) TEST_REPORT_NAME=results_${CIRCLE_NODE_INDEX}.xml make test-integration
                working_directory: << parameters.working_directory >>

      - run:
          name: Run linter
          command: make lint
          working_directory: << parameters.working_directory >>

      - save_cache:
          name: Save build dependencies
          key: build-deps-v1-{{ .Branch }}-{{ checksum "Makefile" }}
          paths:
            - bin/

      - store_test_results:
          path: build/test_results/

  publish-chart:
    executor: helm311
    resource_class: small
    parameters:
        charts-dir:
            default: charts
            description: Path of helm chart(s)
            type: string
    steps:
        - checkout
        - run:
            name: Install helm s3 plugin
            command: |
              helm plugin install https://github.com/hypnoglow/helm-s3.git --version 0.10.0
        - helm/setup-repositories:
            chartmuseum-url: 'https://kubernetes-charts.banzaicloud.com'
            add-extra-repositories:
              - run: 'helm repo add banzai-private s3://banzai-charts'
        - helm/check-parameters:
              charts-dir: << parameters.charts-dir >>
        - helm/update-dependencies:
              charts-dir: << parameters.charts-dir >>
        - helm/build:
              charts-dir: << parameters.charts-dir >>
        - run:
              name: Helm push
              command: |
                  export HELM_S3_MODE=3
                  cd /workspace/tgz
                  tgz="$(find . -name '*.tgz')"
                  helm s3 push "${tgz}" banzai-private


workflows:
  version: 2
  imps:
    jobs:
      - build:
          has_integration_tests: false

      - helm/lint-chart:
          executor: helm311
          name: Lint imagepullsecrets chart
          charts-dir: deploy/charts
          filters:
            tags:
              ignore: /.*/

      - helm/publish-chart:
          context: helm
          executor: helm311
          name: Publish imagepullsecrets chart
          charts-dir: deploy/charts
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^chart\/imagepullsecrets\/[0-9]+\.[0-9]+\.[0-9]+(?:-(?:dev|rc|alpha|beta)\.[0-9]+)?$/

      - docker/build:
          name: Docker build (imps)
          executor: docker/machine-dlc
          image: banzaicloud/imagepullsecrets
          tag: ${CIRCLE_BRANCH//\//_}
          dockerfile: Dockerfile
          filters:
            branches:
              ignore: main

      - docker/custom-publish:
          name: Docker build main image
          executor: docker/machine-dlc
          context: github
          login:
            - docker/login
            - docker/ghcr-login
          dockerfile: Dockerfile
          push:
            - docker/push:
                registry: docker.io
                image: banzaicloud/imagepullsecrets
                tag: main
            - docker/push:
                registry: ghcr.io
                image: banzaicloud/imagepullsecrets
                tag: main
          filters:
            branches:
              only: main

      - docker/custom-publish:
          name: Publish tagged & latest image
          executor: docker/machine-dlc
          context: github
          login:
            - docker/login
            - docker/ghcr-login
          dockerfile: Dockerfile
          push:
            - docker/push:
                registry: docker.io
                image: banzaicloud/imagepullsecrets
                tag: ${CIRCLE_TAG//\//_}
            - docker/push:
                registry: ghcr.io
                image: banzaicloud/imagepullsecrets
                tag: ${CIRCLE_TAG//\//_}
            - docker/conditional-push:
                registry: docker.io
                image: banzaicloud/imagepullsecrets
                tag: latest
                condition-steps:
                  - docker/version-check:
                      version: ${CIRCLE_TAG//\//_}
            - docker/conditional-push:
                registry: ghcr.io
                image: banzaicloud/imagepullsecrets
                tag: latest
                condition-steps:
                  - docker/version-check:
                      version: ${CIRCLE_TAG//\//_}
          filters:
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+(?:-(?:dev|rc|alpha|beta)\.[0-9]+)?$/
            branches:
              ignore: /.*/

      - docker/build:
          name: Docker build (imps-refresher)
          executor: docker/machine-dlc
          image: banzaicloud/imagepullsecrets-refresher
          tag: ${CIRCLE_BRANCH//\//_}
          dockerfile: Dockerfile-refresher
          filters:
            branches:
              ignore: main

      - docker/custom-publish:
          name: Docker build refresher image
          executor: docker/machine-dlc
          context: github
          login:
            - docker/login
            - docker/ghcr-login
          dockerfile: Dockerfile-refresher
          push:
            - docker/push:
                registry: docker.io
                image: banzaicloud/imagepullsecrets-refresher
                tag: main
            - docker/push:
                registry: ghcr.io
                image: banzaicloud/imagepullsecrets-refresher
                tag: main
          filters:
            branches:
              only: main

      - docker/custom-publish:
          name: Publish tagged & latest image
          executor: docker/machine-dlc
          context: github
          login:
            - docker/login
            - docker/ghcr-login
          dockerfile: Dockerfile-refresher
          push:
            - docker/push:
                registry: docker.io
                image: banzaicloud/imagepullsecrets-refresher
                tag: ${CIRCLE_TAG//\//_}
            - docker/push:
                registry: ghcr.io
                image: banzaicloud/imagepullsecrets-refresher
                tag: ${CIRCLE_TAG//\//_}
            - docker/conditional-push:
                registry: docker.io
                image: banzaicloud/imagepullsecrets-refresher
                tag: latest
                condition-steps:
                  - docker/version-check:
                      version: ${CIRCLE_TAG//\//_}
            - docker/conditional-push:
                registry: ghcr.io
                image: banzaicloud/imagepullsecrets-refresher
                tag: latest
                condition-steps:
                  - docker/version-check:
                      version: ${CIRCLE_TAG//\//_}
          filters:
            tags:
              only: /^v?[0-9]+\.[0-9]+\.[0-9]+(?:-(?:dev|rc|alpha|beta)\.[0-9]+)?$/
            branches:
              ignore: /.*/


