apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "imagepullsecret-controller.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "imagepullsecret-controller.labels" . | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "imagepullsecret-controller.fullname" . }}
  labels:
    {{- include "imagepullsecret-controller.labels" . | nindent 4 }}
rules:
- apiGroups: ["images.banzaicloud.io"]
  resources: ["*"]
  verbs:
  - get
  - list
  - watch
  - update
- apiGroups: [""]
  resources:
  - configmaps
  - secrets
  - events
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - delete
- apiGroups: [""]
  resources:
    - namespaces
    - pods
  verbs:
    - get
    - list
    - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role 
metadata:
  name: {{ include "imagepullsecret-controller.fullname" . }}
  labels:
    {{- include "imagepullsecret-controller.labels" . | nindent 4 }}
rules:
- apiGroups: ["coordination.k8s.io"]
  resources:
  - leases
  verbs:
    - get
    - list
    - watch
    - create
    - update
    - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "imagepullsecret-controller.fullname" . }}
  labels:
    {{- include "imagepullsecret-controller.labels" . | nindent 4 }}
roleRef:
  kind: ClusterRole
  name: {{ include "imagepullsecret-controller.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: {{ include "imagepullsecret-controller.fullname" . }}
  namespace: {{ .Release.Namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "imagepullsecret-controller.fullname" . }}
  labels:
    {{- include "imagepullsecret-controller.labels" . | nindent 4 }}
roleRef:
  kind: Role
  name: {{ include "imagepullsecret-controller.fullname" . }}
  apiGroup: rbac.authorization.k8s.io
subjects:
- kind: ServiceAccount
  name: {{ include "imagepullsecret-controller.fullname" . }}
  namespace: {{ .Release.Namespace }}

