# Default values for imagepullsecret-controller
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

clusterName: master

replicas: 1

istio:
  revision: ""

podAnnotations: {}

podSecurityContext:
  runAsUser: 65534
  runAsGroup: 65534
securityContext:
  allowPrivilegeEscalation: false
image:
  repository: ghcr.io/banzaicloud/imagepullsecrets
  tag: v0.3.0
  pullPolicy: IfNotPresent

imagePullSecrets: []

nodeSelector: {}
affinity: {}
tolerations: []
resources:
  requests:
    memory: "100Mi"
    cpu: "100m"
  limits:
    memory: "200Mi"
    cpu: "300m"

service:
  type: ClusterIP
  port: 8080

serviceAccount:
  annotations: {}

serviceMonitor:
  scrapeInterval: 5s
  tlsConfig: {}

developmentMode:
  enabled: false

podDisruptionBudget:
  enabled: false

log:
  {}
  # level: info # accepted values: panic, fatal, error, warn, warning, info, debug, trace

# additional environment variables to be injected into the container
env:
  {}


defaultConfig:
  enabled: false
  targetSecretName: default-secret-name
  namespaces: {}
  namespacesWithPods: []
  credentials: []

defaultSecret:
  enabled: false
  stringData: {}
  type: ""

